.clients {
  background-color: $bg-color;

  margin-right: auto;
  margin-left: auto;

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__regular-clients {
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  font-size: 28px;

  margin-bottom: $picMargin;

  @media screen and (min-width: 1200px) {
    font-size: 36px;

    margin-bottom: 50px;
  }
}

.clients__our-clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * #{$picMargin});
  margin-top: calc(-1 *#{$picMargin});

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}

.clients__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid $accent-color;
  }

  &:hover .clients__icon {
    fill: $accent-color;
  }

  flex-basis: calc(100% / 2 - #{$picMargin});
  margin-left: $picMargin;
  margin-top: $picMargin;

  width: 210px;
  height: 92px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - #{$picMargin});
    margin-left: $picMargin;
    margin-top: $picMargin;

    width: 226px;
    height: 92px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - #{$picMargin});
    margin-left: $picMargin;
    margin-top: 0;

    width: 170px;
    height: 92px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;

  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
